.dashboard{
    display:flex;
    min-height:100vh;
    background:#f5f8fc;
    
}

.dashboard-main{
    flex:1;
    display:flex;
    flex-direction:column;
     margin-left:260px;
    min-width: 0;
     
}

/* ================= Tablet & Mobile ================= */

@media (max-width:1024px){

    .dashboard-main{

        margin-left:0;

        width:100%;

    }

}

.dashboard-content{
    width:100%;
    max-width:1200px;
    margin:0 auto;

    padding:98px 30px 30px;

    display:flex;
    flex-direction:column;

    gap:24px;

    flex:1;
    min-height:0;
}

@media (max-width:768px){

    .dashboard-content{

        padding:85px 16px 20px;

    }

}